/* reset de margens */
* {
    margin: 0;
    padding:0;
}

/* para garantir que estes elementos ocuparão toda a tela */
body, html {
    font-family: arial, helvetica, sans-serif;
    font-size: 12px;
       
}

.menu{
    list-style:none;
    border:1px solid #c0c0c0;
    float:left;
    }

#topo-externo{
    overflow: hidden; /* para que não tenha rolagem se a imagem de fundo for maior que a tela */
    width: 100%;
    height: 100%;
    position: fixed; /* criamos um contexto para posicionamento */
}

#topo  { 
    position: fixed; /* posição fixa para que a possível rolagem da tela não revele espaços em branco */
    width: 100%;
    height: 5%;
    background-color: black;
       
}

.menu {
    font-size: 13PX;
    font-family: fantasy sans-serif;
    font-style: italic;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: white;
    list-style:none;
    border:1px solid whitesmoke;
    float:left;
         
}

.menu li{
    position:relative;
    float:left;
    border-right:1px solid #c0c0c0;
}

.menu li a{color: whitesmoke; text-decoration:none; padding:5px 10px; display:block;}

.menu li a:hover{
    background: white;
    color:#fff;
    -moz-box-shadow:0 3px 10px 0 #CCC;
    -webkit-box-shadow:0 3px 10px 0 #ccc;
    text-shadow:0px 0px 5px #fff;
}

.menu li  ul{
    position:absolute;
    top:25px;
    left:10%;
    background-color:#fff;
    display:none;
}

.menu li:hover ul, .menu li.over ul{display:block;}

.menu li ul li{
    border:1px solid #c0c0c0;
    display:block;
    width:150px;
    }

#topo img {
    width: 100%; /* com isso imagem ocupará toda a largura da tela. Se colocarmos height: 100% também, a imagem irá distorcer */
    height: 30%;
    position: fixed;
}

#fundo-externo {
    overflow: hidden; /* para que não tenha rolagem se a imagem de fundo for maior que a tela */
    width: 100%;
    height: 100%;
    position: fixed; /* criamos um contexto para posicionamento */
     
}

#fundo {
    position: fixed; /* posição fixa para que a possível rolagem da tela não revele espaços em branco */
    width: 100%;
    height: 100%;
    padding: 200px 0px;
     
}

#fundo img {
    width: 100%; /* com isso imagem ocupará toda a largura da tela. Se colocarmos height: 100% também, a imagem irá distorcer */
    position: absolute;
}

#site {
    position: absolute;
    top: 300px;
    left: 50%;
    width: 560px;
    padding: 20px;
    margin-left: -300px; /* por causa do posicionamento absoluto temos que usar margem negativa para centralizar o site */
    background: #FFF; /* fundo branco para navegadores que não suportam rgba */
    background: rgba(255,255,255,0.8); /* fundo branco com um pouco de transparência */
}

p {
    margin-bottom: 1.5em;
}

#borda_texto {
    text-shadow: 2px 2px red;
    font-size: 40px;
    font-weight: bold;
    font-family: Arial, Tahoma, sans-serif;
    color: black;
    padding: 10px;
    margin-bottom: 50px;
    }
