.class_topo_app {
  display: flex;

  margin-top: 10%;
  border: solid violet;
}

.class_position {
  display: flex;
  /*flex-direction: column;*/

  /*border: solid red;*/
}

/*@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');*/

#app {
  font-family: myFonts;
  //src: url("./assets/fonts/StarjediSpecialEdition-9Bqy.ttf");
  src: url('./assets/fonts/Gotham-Rounded-Bold.ttf');
}

@font-face {
  font-family: myFonts;
  src: url('./assets/fonts/Gotham-Rounded-Bold.ttf');
  //src: url('./assets/fonts/StarjediSpecialEdition-9Bqy.ttf');
  font-weight: normal;
  font-style: normal;
}
  